@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100% - 20px));
	} /* Adjust for item margin */
}

/* Add the animation to the carousel-track element */
.animation-scroll {
	animation: scroll 20s linear infinite; /* Adjust animation duration */
}

.carousel-track {
	transform: translateX(0);
	transition: transform 20s linear infinite; /* Adjust transition duration */
}
